* {
  box-sizing: border-box;
}
//* Nav

.s-nav {
  flex: 2;
  background: rgb(158, 219, 255);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

.navbar-item {
  margin: 30px 0px 0px 0px;
  font-weight: bold;
  font-size: 18px;
}

.navbar-item-login {
  margin: 30px 0px 0px 0px;
  font-size: 18px;
  font-weight: bold;
}

.button {
  color: blue;
  width: 100px;
  height: 25px;
  font-size: 15px;
  border: 2px solid black;
  background-color: white;
  &:hover {
    color: red;
  }
}

//* Team Create

.main {
  flex-grow: 1;
  display: flex;
}

.total-form {
  display: flex;
  flex: 14;
}

.s-form {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: green;
  border-left: 1px solid white;
}

.first-form {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: green;
  border-left: 1px solid white;
}


.position {
  margin: 20px 0px 0px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.position-striker {
  margin: 20px 0px 0px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 50%;
}

.goalkeeper-position {
  margin: 20px 0px 0px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 165px;
  border-left: 2px solid white;
}

.shirt {
  background-image: url('./images/MarleyUpdatedJersey-1_1024x-removebg-preview.png');
  background-size: contain;
  height: 70px;
  width: 70px;
}

.select {
  width: 140px;
}

.submit {
  margin: 20px 0px 0px 0px;
  display: flex;
  align-items: flex-end;
}

.team-name {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-name-box {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

//* Team Index Page

.team-index-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.team-row-container {
 display: flex;
 flex: 14;
 flex-direction: column;
}

.logo {
  background-image: url("https://thesincuragroup.com/uup/Ea%20Sports%20Banner.jpg");
  display: flex;
  height: 140px;
  align-items: center;
  justify-content: center;
}

.search-bar {
  background-color: rgb(0, 255, 255);
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.teams-heading {
  background-color: rgb(0, 255, 255);
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid rgb(255, 255, 255);
  color: orange
}

.team-row {
  display: flex;
  flex: 14;
  background-color: rgb(0, 255, 255);
  flex-direction: column;
  border-bottom: 1px solid rgb(255, 255, 255);
  min-height: 60px;
  max-height: 60px;
}

.team-row-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 60px;
  max-height: 60px;
  padding-left: 30px;
}


.team-row-name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.rating {
  color: red;
}


//* Team Show Page

.team-show-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: rgb(0, 255, 255);
}

.team-show-main {
  display: flex;
  flex-grow: 1;
  height: 500px;
}

.team-show-player {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-image: url("./images/png-transparent-2014-fifa-world-cup-football-pitch-formation-defender-football-field-football-field-illustration-game-sport-grass-removebg-preview.png");
  background-position: center;
  background-size: 950px;
}

.team-show-info {
  display: flex;
  flex: 1;
}

.team-show-player-section {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  color: rgb(84, 255, 5);
  font-weight: bold;
}


.shirt-team-show {
  background-image: url('./images/MarleyUpdatedJersey-1_1024x-removebg-preview.png');
  background-size: contain;
  height: 50px;
  width: 50px;
  margin-top: 10px;
}

.team-show-row-container {
  display: flex;
  flex: 1;
  flex-direction: column;
 }

.team-show-row {
  display: flex;
  flex: 1;
  background-color: rgb(0, 255, 255);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(255, 255, 255);
  min-height: 60px;
  max-height: 60px;
  padding-left: 30px;
}

.team-show-row-item-left {
  display: flex;
  justify-content: center;
}

.team-show-row-item-right {
  display: flex;
  align-items: flex-end;
  padding-right: 40px;
}

.team-show-row-left {
  display: flex;
  width: 100%;
}
.team-show-row-right {
  display: flex;
  flex-direction: row;
}


.team-show-name {
  background-color: rgb(0, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100px;
}

.team-show-name-input {
  background-color: rgb(0, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}

.label-show {
  font-size: 20px;
}
.input-show {
  margin-top: 6px;
  min-width: 18em;
  height: 30px;
  padding: 0px 10px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 4px;
  margin-bottom: 2px;
  transition: all 250ms ease-in-out;
  &:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 14px 0.3px #0e81ce96;
  }

  &:focus {
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
  }
}

.team-show-name-item {
  font-size: 20px;
  font-weight: bold;
}

.team-show-submit {
  margin: 5px 0px;
  display: flex;
  justify-content: flex-end;
}


//* Player-Show

.player-show-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: rgb(0, 255, 255);
}

.player-show-main {
  display: flex;
  flex-grow: 1;
  height: 500px;
}

.player-show-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.player-image {
  height: 280px;
  width: 220px;
  display: flex;
}


.player-show-row-container {
  display: flex;
  flex: 1;
  flex-direction: column;
 }

.player-show-row {
  display: flex;
  flex: 1;
  background-color: rgb(0, 255, 255);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(255, 255, 255);
  min-height: 60px;
  max-height: 60px;
  padding-left: 30px;
}

.player-show-team{
  background-color: rgb(0, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}

.player-show-player-name {
  font-size: 20px;
  font-weight: bold;
}


//* register/ login

.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
  }

  .content {
    display: flex;
    flex-direction: column;

    .form {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        .label {
          font-size: 20px;
        }
        .input {
          margin-top: 6px;
          min-width: 18em;
          height: 37px;
          padding: 0px 10px;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          background-color: #f3f3f3;
          border: 0;
          border-radius: 4px;
          margin-bottom: 31px;
          transition: all 250ms ease-in-out;
          &:hover {
            background-color: #ffffff;
            box-shadow: 0px 0px 14px 0.3px #0e81ce96;
          }

          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #3474dbb2;
          }
        }
      }
    }
  }
  .footer {
    margin-top: 3em;
  }
}





